html {
	background-color: #FFF;
	width: 100%;
}

#landing {
	width: 100%;
	height: 100%;
	color: black;
}

#logo {
	font-family: century;
	font-size: 56px;
	position: relative;
	text-align: center;
	margin-top: 10px;
	
}

#sublogo {
	font-family: century;
	font-size: 24px;
	position: relative;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 10px;
}


#landingsearch {
	width: 400px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	position: relative;
	margin-left: calc(50% - 200px);
}

#landinggo {
	width: 80px;
	height: 30px;
	position: relative;
	margin-left: calc(50% - 40px);
	margin-top: 10px;
	background-color: #EEE;
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	border: solid 1px;
}

#landinggo:hover {
	background-color: #CCCCCC;
}

#searchsubject {
	font-family: century;
	font-size: 24px;
	position: relative;
	text-align: center;
	margin-top: 10px;
}

#login {
	position: relative;
	margin-left: calc(100% - 45px);
}

#login:hover {
	color: blue;
	cursor: pointer;
}

#blipholder {
	font-family: century;
	height: 400px;
	background-color: #FFF;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: calc(50% - 200px);
}

.blip {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: white;
	border: solid 3px;
}

.blip:hover {
	border: solid 5px;  
}

.pic {
	position: relative;
	width: 65px;
	left: 17px;
	top: 13px;
}

.name {
	text-align: center;
	position: relative;
	margin-top: 40px;
}

#mathblip {
	border-color: #006600;
	color: #006600;
	position: absolute;
	margin: 0 auto;
}

#mathpic {
	width: 80px;
	top: 25px;
	left: 10px;
}

#math {
	margin-top: 55px;
}

#literatureblip {
	border-color: #CC0000;
	color: #CC0000;
	position: absolute;
	margin: 0 auto;
	margin-left: 140px;
}

#literaturepic {
	top: 20px;
	width: 80px;
	left: 10px;
}

#literature {
	margin-top: 44px;
}

#chemistryblip {
	border-color: #1975FF;
	color: #1975FF;
	position: absolute;
	margin: 0 auto;
	margin-left: 280px;
}

#chemistrypic {
	width: 80px;
}

#chemistry {
	margin-top: 32px;
}

#physicsblip {
	border-color: #1975FF;
	color: #1975FF;
	position: absolute;
	margin: 0 auto;
	margin-top: 140px;
}

#physicspic {
	width: 80px;
	left: 10px;
	top: 25px;
	border-radius: 100%;
}

#physics {
	margin-top: 53px;
}

#biologyblip {
	border-color: #006600;
	color: #006600;
	position: absolute;
	margin: 0 auto;
	margin-top: 140px;
	margin-left: 140px;
}

#biologypic {
	width: 80px;
	left: 10px;
	top: 10px;
	border-radius: 30px;
}

#biology {
	margin-top: 24px;
}

#linguisticsblip {
	border-color: #CC0000;
	color: #CC0000;
	position: absolute;
	margin: 0 auto;
	margin-top: 140px;
	margin-left: 280px;
}

#linguisticspic {
	width: 120px;
	top: -10px;
	left: -10px;
}

#linguistics {
	margin-top: -16px;
}

#historyblip {
	border-color: #1975FF;
	color: #1975FF;
	position: absolute;
	margin: 0 auto;
	margin-top: 280px;
	margin-left: 140px;
}

#historypic {
	width: 85px;
	top: 10px;
	left: 9px;
}

#history {
	margin-top: 25px;
}

#philosophyblip {
	border-color: #CC0000;
	color: #CC0000;
	position: absolute;
	margin: 0 auto;
	margin-top: 280px;
}

#philosophypic {
	width: 75px;
	top: 10px;
	left: 12px;
}

#philosophy {
	margin-top: 32px;
}

#socialblip {
	border-color: #006600;
	color: #006600;
	position: absolute;
	margin: 0 auto;
	margin-top: 280px;
	margin-left: 280px;
}

#socialpic {
	width: 90px;
	left: 5px;
	top: 18px;
	border-radius: 30px;
}	

#social {
	margin-top: 40px;
}

/* END OF LANDING PAGE CSS -- BEGINNING OF SEARCH PAGE CSS */

#searchpage {
	width: 100%;
	height: 1070px;
	background-color: #FFF;
	font-family: century;
}

#topbar { 
	position: fixed;
	background-color: #0099CC;
	width: 100%;
	height: 40px;
	margin-top: -10px;
	margin-left: -8px;
}

#topbarlogo {
	color: white;
	position: relative;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 10px;
}

#topbarlogo:hover {
	cursor: pointer;
}

#topbarlogin {
	font-size: 18px;
	color: white;
	position: relative;
	margin-left: calc(100% - 80px);
	margin-top: -23px;
}

#topbarlogin:hover {
	cursor: pointer;
}

#category {
	margin-top: 50px;
	width: 150px;
	height: 25px;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: century;
}

#searchinput {
	height: 18px;
	width: 300px;
	font-size: 14px;
	margin-right: 10px;
	font-family: century;
}

#searchbutton {
	width: 100px;
	height: 25px;
}

#numresults {
	font-size: 20px;
	margin-bottom: 10px;
}

#divide {
	background-color: #0099CC;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	margin-bottom: 10px;
}

#sidebar {
	margin-top: 20px;
	margin-right: 20px;
	width: 300px;
	height: 520px;
	float: right;
	background-color: #FFF;
	border: 3px solid #0099CC;
	border-radius: 3px;
}

#account {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-top: 5px;
}

#galois {
	margin: 0 auto;
	margin-left: calc(50% - 100px);
	border: 2px solid black;
	margin-top: 10px;
	width: 200px;
}

#answered {
	text-align: center;
	margin-top: 5px;
}

#online {
	text-align: center;
	margin-top: 20px;
} 

#submit {
	text-align: center;
	margin-top: 20px;
	width: 250px;
	height: 30px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: #0099CC;
	margin-left: 25px;
	padding-top: 8px;
}

#submit:hover {
	cursor: pointer;
}

#mods {
	text-align: center;
	margin-top: 20px;
	width: 250px;
	height: 30px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: #0099CC;
	margin-left: 25px;
	padding-top: 8px;
}

#mods:hover {
	cursor: pointer;
}

#divide2 {
	background-color: #0099CC;
	width: 75%;
	height: 2px;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.entrytitle {
	font-size: 20px;
	margin-bottom: 2px;
}

.entryinfo1 {
	margin-left: 15px;
	margin-bottom: 2px;
}

.entryinfo2 {
	margin-left: 15px;
	margin-bottom: 2px;
}

.entryinfo3 {
	margin-left: 15px;
	margin-bottom: 2px;
}

.entryinfo4 {
	margin-left: 15px;
	margin-bottom: 15px;
}

.entryinfo5 {
	margin-left: 15px;
	margin-bottom: 2px;
}

#nextpage {
	width: 20%;
	height: 25px;
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding-top: 3px;
	margin-top: 30px;
}




